<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title>Haku</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <p><a href="/etusivu">Takaisin</a></p>
        
        <p>Löydettyjä hakutuloksia: <span th:text="${hakutuloksia}"></span></p>
        <span></span>
        
        <h1>Löydetyt annokset</h1>
        <ol>
            <li th:each="annos: ${haetutAnnokset}">
                <span th:text="${annos.nimi}">annos</span>
                <hr></hr>
                
            </li>            
        </ol>
        
        <h1>Löydetyt raaka-aineet</h1>
        <ol>
            <li th:each="aines: ${haetutRaakaAineet}">
                <span th:text="${aines.nimi}">raaka-aine</span>
                <hr></hr>
                
            </li>
            
        </ol>
    </body>
</html>
